* {
    font-family: "Fredoka One";  
}

.creatorHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.creatorLinks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-around;
}

.credits {
    text-align: center;
}