* {
    font-family: "Fredoka One";  
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-around;
}

.instructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
}